@font-face { font-family: 'icomoon'; src: url('icomoon.eot'); src: url('icomoon.eot?qz53rg#iefix') format('embedded-opentype'),  url('icomoon.ttf') format('truetype'),  url('icomoon.woff') format('woff'),  url('icomoon.svg?qz53rg#icomoon') format('svg'); font-weight: normal; font-style: normal; font-display: block; }
[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-adobe-suite:before { content: "\e9dc"; }
.icon-quote-copr-left:before { content: "\e91f"; }
.icon-quote-copr-right:before { content: "\e935"; }
.icon-door-open-solid:before { content: "\e97d"; }
.icon-spinner-solid:before { content: "\e97e"; }
.icon-angle-up-solid:before { content: "\e97f"; }
.icon-angle-left-solid:before { content: "\e980"; }
.icon-angle-right-solid:before { content: "\e981"; }
.icon-angle-down-solid:before { content: "\e982"; }
.icon-baby-carriage-solid:before { content: "\e983"; }
.icon-bolt-lightning-solid:before { content: "\e984"; }
.icon-cubes-stacked-solid:before { content: "\e985"; }
.icon-ellipsis-solid:before { content: "\e986"; }
.icon-envelope-circle-check-solid:before { content: "\e987"; }
.icon-gem-solid:before { content: "\e988"; }
.icon-house-chimney-solid:before { content: "\e989"; }
.icon-location-arrow-solid:before { content: "\e98a"; }
.icon-parachute-box-solid:before { content: "\e98b"; }
.icon-pen-ruler-solid:before { content: "\e98c"; }
.icon-person-chalkboard-solid:before { content: "\e98d"; }
.icon-ranking-star-solid:before { content: "\e98e"; }
.icon-sailboat-solid:before { content: "\e98f"; }
.icon-screwdriver-wrench-solid:before { content: "\e990"; }
.icon-share-nodes-solid:before { content: "\e991"; }
.icon-shuttle-space-solid:before { content: "\e992"; }
.icon-spa-solid:before { content: "\e993"; }
.icon-star-half-stroke-solid:before { content: "\e994"; }
.icon-user-group-solid:before { content: "\e995"; }
.icon-user-large-solid:before { content: "\e996"; }
.icon-images-solid:before { content: "\e997"; }
.icon-copyright-solid:before { content: "\e998"; }
.icon-circle-check-regular:before { content: "\e999"; }
.icon-circle-check-solid:before { content: "\e99a"; }
.icon-medal-solid:before { content: "\e99b"; }
.icon-trophy-solid:before { content: "\e99c"; }
.icon-award-solid:before { content: "\e99d"; }
.icon-moon-solid:before { content: "\e99e"; }
.icon-telegram:before { content: "\e99f"; }
.icon-rocket-solid:before { content: "\e9a0"; }
.icon-shield-solid:before { content: "\e9a1"; }
.icon-phone-volume-solid:before { content: "\e9a2"; }
.icon-circle-regular:before { content: "\e9a3"; }
.icon-circle-solid:before { content: "\e9a4"; }
.icon-clock-regular:before { content: "\e9a5"; }
.icon-clock-solid:before { content: "\e9a6"; }
.icon-business-time-solid:before { content: "\e9a7"; }
.icon-comments-regular:before { content: "\e9a8"; }
.icon-star-solid:before { content: "\e9a9"; }
.icon-envelope-regular:before { content: "\e9aa"; }
.icon-envelope-solid:before { content: "\e9ab"; }
.icon-image-solid:before { content: "\e9ac"; }
.icon-location-dot-solid:before { content: "\e9ad"; }
.icon-link-solid:before { content: "\e9ae"; }
.icon-briefcase-solid:before { content: "\e9af"; }
.icon-sliders-solid:before { content: "\e9b0"; }
.icon-brush-solid:before { content: "\e9b1"; }
.icon-paint-roller-solid:before { content: "\e9b2"; }
.icon-gears-solid:before { content: "\e9b3"; }
.icon-globe-solid:before { content: "\e9b4"; }
.icon-paper-plane-solid:before { content: "\e9b5"; }
.icon-thumbtack-solid:before { content: "\e9b6"; }
.icon-comments-solid:before { content: "\e9b7"; }
.icon-thumbs-up-solid:before { content: "\e9b8"; }
.icon-folder-open-solid:before { content: "\e9b9"; }
.icon-eye-solid:before { content: "\e9ba"; }
.icon-minus-solid:before { content: "\e9bb"; }
.icon-plus-solid:before { content: "\e9bc"; }
.icon-share-from-square-solid:before { content: "\e9bd"; }
.icon-pen-to-square-solid:before { content: "\e9be"; }
.icon-droplet-solid:before { content: "\e9bf"; }
.icon-video-solid:before { content: "\e9c0"; }
.icon-camera-solid:before { content: "\e9c1"; }
.icon-bookmark-solid:before { content: "\e9c2"; }
.icon-tag-solid:before { content: "\e9c3"; }
.icon-gear-solid:before { content: "\e9c4"; }
.icon-umbrella-solid:before { content: "\e9c5"; }
.icon-phone-solid:before { content: "\e9c6"; }
.icon-user-solid:before { content: "\e9c7"; }
.icon-circle-user-regular:before { content: "\e9c8"; }
.icon-circle-user-solid:before { content: "\e9c9"; }
.icon-bolt-solid:before { content: "\e9ca"; }
.icon-cart-shopping-solid:before { content: "\e9cb"; }
.icon-file-solid:before { content: "\e9cc"; }
.icon-paperclip-solid:before { content: "\e9cd"; }
.icon-calendar-days-solid:before { content: "\e9ce"; }
.icon-face-smile-regular:before { content: "\e9cf"; }
.icon-face-smile-solid:before { content: "\e9d0"; }
.icon-pen-nib-solid:before { content: "\e9d1"; }
.icon-comment-solid:before { content: "\e9d2"; }
.icon-heart-solid:before { content: "\e9d3"; }
.icon-house-solid:before { content: "\e9d4"; }
.icon-xmark-solid:before { content: "\e9d5"; }
.icon-check-solid:before { content: "\e9d6"; }
.icon-magnifying-glass-solid:before { content: "\e9d7"; }
.icon-arrow-left-long-solid:before { content: "\e9d8"; }
.icon-arrow-right-long-solid:before { content: "\e9d9"; }
.icon-quote-left:before { content: "\e9da"; }
.icon-quote-right:before { content: "\e9db"; }
.icon-android:before { content: "\e900"; }
.icon-angular:before { content: "\e901"; }
.icon-apple:before { content: "\e902"; }
.icon-behance:before { content: "\e903"; }
.icon-blogger:before { content: "\e904"; }
.icon-bootstrap:before { content: "\e905"; }
.icon-codepen:before { content: "\e906"; }
.icon-css3:before { content: "\e907"; }
.icon-dailymotion:before { content: "\e908"; }
.icon-dev:before { content: "\e909"; }
.icon-digg:before { content: "\e90a"; }
.icon-dribbble:before { content: "\e90b"; }
.icon-dropbox:before { content: "\e90c"; }
.icon-drupal:before { content: "\e90d"; }
.icon-elementor:before { content: "\e90e"; }
.icon-etsy:before { content: "\e90f"; }
.icon-evernote:before { content: "\e910"; }
.icon-facebook:before { content: "\e911"; }
.icon-facebook-f:before { content: "\e912"; }
.icon-facebook-messenger:before { content: "\e913"; }
.icon-fedora:before { content: "\e914"; }
.icon-figma:before { content: "\e915"; }
.icon-flickr:before { content: "\e916"; }
.icon-forumbee:before { content: "\e917"; }
.icon-foursquare:before { content: "\e918"; }
.icon-git:before { content: "\e919"; }
.icon-git-alt:before { content: "\e91a"; }
.icon-github:before { content: "\e91b"; }
.icon-github-alt:before { content: "\e91c"; }
.icon-gitlab:before { content: "\e91d"; }
.icon-google:before { content: "\e91e"; }
.icon-google-plus-g:before { content: "\e920"; }
.icon-html5:before { content: "\e921"; }
.icon-hubspot:before { content: "\e922"; }
.icon-instagram:before { content: "\e923"; }
.icon-invision:before { content: "\e924"; }
.icon-java:before { content: "\e925"; }
.icon-jenkins:before { content: "\e926"; }
.icon-jira:before { content: "\e927"; }
.icon-joomla:before { content: "\e928"; }
.icon-js:before { content: "\e929"; }
.icon-jsfiddle:before { content: "\e92a"; }
.icon-kickstarter:before { content: "\e92b"; }
.icon-korvue:before { content: "\e92c"; }
.icon-laravel:before { content: "\e92d"; }
.icon-less:before { content: "\e92e"; }
.icon-linkedin:before { content: "\e92f"; }
.icon-linkedin-in:before { content: "\e930"; }
.icon-linux:before { content: "\e931"; }
.icon-magento:before { content: "\e932"; }
.icon-mailchimp:before { content: "\e933"; }
.icon-medium:before { content: "\e934"; }
.icon-meta:before { content: "\e936"; }
.icon-nimblr:before { content: "\e937"; }
.icon-node:before { content: "\e938"; }
.icon-node-js:before { content: "\e939"; }
.icon-npm:before { content: "\e93a"; }
.icon-opencart:before { content: "\e93b"; }
.icon-paypal:before { content: "\e93c"; }
.icon-php:before { content: "\e93d"; }
.icon-pinterest:before { content: "\e93e"; }
.icon-pinterest-p:before { content: "\e93f"; }
.icon-python:before { content: "\e940"; }
.icon-raspberry-pi:before { content: "\e941"; }
.icon-react:before { content: "\e942"; }
.icon-reddit:before { content: "\e943"; }
.icon-redhat:before { content: "\e944"; }
.icon-salesforce:before { content: "\e945"; }
.icon-sass:before { content: "\e946"; }
.icon-shopify:before { content: "\e947"; }
.icon-sketch:before { content: "\e948"; }
.icon-skype:before { content: "\e949"; }
.icon-slack:before { content: "\e94a"; }
.icon-snapchat:before { content: "\e94b"; }
.icon-soundcloud:before { content: "\e94c"; }
.icon-spotify:before { content: "\e94d"; }
.icon-square-behance:before { content: "\e94e"; }
.icon-square-dribbble:before { content: "\e94f"; }
.icon-square-facebook:before { content: "\e950"; }
.icon-square-git:before { content: "\e951"; }
.icon-square-github:before { content: "\e952"; }
.icon-square-gitlab:before { content: "\e953"; }
.icon-square-google-plus:before { content: "\e954"; }
.icon-square-instagram:before { content: "\e955"; }
.icon-square-js:before { content: "\e956"; }
.icon-square-pinterest:before { content: "\e957"; }
.icon-square-reddit:before { content: "\e958"; }
.icon-square-snapchat:before { content: "\e959"; }
.icon-squarespace:before { content: "\e95a"; }
.icon-square-tumblr:before { content: "\e95b"; }
.icon-square-twitter:before { content: "\e95c"; }
.icon-square-viadeo:before { content: "\e95d"; }
.icon-square-vimeo:before { content: "\e95e"; }
.icon-square-whatsapp:before { content: "\e95f"; }
.icon-square-xing:before { content: "\e960"; }
.icon-square-youtube:before { content: "\e961"; }
.icon-stumbleupon:before { content: "\e962"; }
.icon-stumbleupon-circle:before { content: "\e963"; }
.icon-tumblr:before { content: "\e964"; }
.icon-twitter:before { content: "\e965"; }
.icon-ubuntu:before { content: "\e966"; }
.icon-viadeo:before { content: "\e967"; }
.icon-viber:before { content: "\e968"; }
.icon-vimeo:before { content: "\e969"; }
.icon-vimeo-v:before { content: "\e96a"; }
.icon-vine:before { content: "\e96b"; }
.icon-vk:before { content: "\e96c"; }
.icon-vuejs:before { content: "\e96d"; }
.icon-whatsapp:before { content: "\e96e"; }
.icon-whmcs:before { content: "\e96f"; }
.icon-wix:before { content: "\e970"; }
.icon-wordpress:before { content: "\e971"; }
.icon-wordpress-simple:before { content: "\e972"; }
.icon-xing:before { content: "\e973"; }
.icon-yahoo:before { content: "\e974"; }
.icon-yelp:before { content: "\e975"; }
.icon-youtube:before { content: "\e976"; }
.icon-px:before { content: "\e977"; }
.icon-circle-stripes:before { content: "\e978"; }
.icon-hepta:before { content: "\e979"; }
.icon-rhom1:before { content: "\e97a"; }
.icon-rhom2:before { content: "\e97b"; }
.icon-Tetradecah:before { content: "\e97c"; }
.icon-bullseye-solid:before { content: "\e9dd"; }
.icon-chalkboard-teacher-solid:before { content: "\e9de"; }
.icon-hat-cowboy-solid:before { content: "\e9df"; }
.icon-window-restore-solid:before { content: "\e9e0"; }
.icon-user-tie-solid:before { content: "\e9e1"; }
.icon-users-cog-solid:before { content: "\e9e2"; }
.icon-truck-monster-solid:before { content: "\e9e3"; }
.icon-cloud-arrow-down-solid:before { content: "\e9e4"; }